includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 6
	paths:
		- src
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	scanFiles:
		- tests/phpstan-stubs.php
	ignoreErrors:
		- identifier: missingType.iterableValue
